:root {
    --cerulean: #2486DD;
    --cloud: #F4F9FD;
    --cloud-semi-transparent: #F4F9FDee;
    --grey-cloud: #bccad7;
    --sky: #72C4F3;
    --sky-bluer: #49AFEF;
    --sky-transparent: #72C4F366;
    --forest: #183A41;
    --forest-semi-transparent: #183A4199;
    --leaf: #4F6A58;
    --orange: #ff7300;
    --lime_green: #92bb23;             
    --violet: #8845c3;             
    --black-semi-transparent: #0009;
}


/* Overlay: dark outside the modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--black-semi-transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    position: relative; 
    background-color: var(--cloud);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 90%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 'X' button in the top‐right of the modal */
.modal-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  color: var(--forest-semi-transparent);
}

.modal-close-button:hover {
  color: var(--forest);
  background-color: transparent;
  border: none;
}