/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
  /* @import 'node_modules/modern-normalize/modern-normalize.css';  npm install modern-normalize  Resets elements for browser consistency.  https://www.npmjs.com/package/modern-normalize */         
  @import 'modern-normalize';
  /* @import "component1.css";   Component-specific stylesheets, if any.   */
  /* @import url(//fonts.googleapis.com/css?family=Font+Name); Add fonts from a hosted services like Google Fonts.   */
  @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/*   ----- Variables  -----  */
:root {
  /*   ----- colors  -----  */
    --cerulean: #2486DD;
    --cloud: #F4F9FD;
    --cloud-semi-transparent: #F4F9FDee;
    --grey-cloud: #bccad7;
    --sky: #72C4F3;
    --sky-bluer: #49AFEF;
    --sky-transparent: #72C4F366;
    --forest: #183A41;
    --forest-semi-transparent: #183A4199;
    --leaf: #4F6A58;


    --header-height:60px;
    --content-max-width: 1150px; /* used by section and nav */ 
  }
  
  /*  ----- Viewport ----- elements inherited by all remaining elements ----- */

  /* Wrapper should fill the full screen and stack children */
  .app-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  body {       /* Can alternatively define in html {}. */
    background: url(/src/assets/sky-blue-hawaii-clouds.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    background-color:var(--cloud);
    color:var(--forest);
    height: 100%;
    min-width: 300px;
    max-width:100%; /* content max width defined in :root variables */
    margin:0;
    padding: 0;
    font-family:'Oxygen', serif;
  }

  body.homepage section{
    background-color: transparent;
  }

  body.homepage main {
    margin: 6% auto 0;
    max-width: 600px;
    text-align: center;
    font-size: larger;
    color: var(--cloud);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  /*  ----- Page layout blocks -----  */
    /* top     right      bottom    left*/ 
    /* top     left/right bottom */
    /* top/bot left/right */

  header {
    display: flex;           /* ← make children lay out in a row */
    align-items: center;     /* ← vertical centering */
    background-color:var(--cloud);
    border: 2px solid var(--forest);
    position: fixed;
    top: 0%;
    width: 100%;
    padding: 0.5rem 1rem;
    gap: 2rem;               /* ← space between h1 and nav */
    height: var(--header-height);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 5;
  }

  .header-icon {
    /* font-size: 1.0em; */
    /* color: var(--cerulean); */
    vertical-align: middle;
    /* margin-right: 0.2rem; */
  }

  main {    
    flex: 1;
    padding-top: var(--header-height);
  }

  section {
    background-color:var(--cloud-semi-transparent);
    margin: 0 auto;
    padding: 1% 2% 1%;
    max-width: var(--content-max-width);
  }
  article {
    /* padding-top: 1%; */
  }
    #topic1 {}
    #topic2 {}
  div {
  }

  .location {
    /* margin: 0 5%; */
    padding-bottom: 1%;
  }

  .location-input{
    margin: 2px;
    padding: 0 2%;
  }
  aside {
    width: 40%;
    padding: 1% 0 2% 2%;
    float: right;
  }
  aside img{
    max-width: 300px;
  }

  footer {
    background-color:var(--cloud);
    bottom: 0%;
    box-sizing: border-box;
    margin: 0px;
    gap: 10px;
    padding: 0 10px;
    /* padding: 1rem; */
    border: 3px solid var(--forest);
    text-align: center;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  }

  footer p {
    margin: 5px;
  }

  
  /* ----- Anchors ----- Text links */
  a {}
  a:link {}
  a:hover {}
  a:active {}
  a:visited {}
  
  /*  ----- Navigation ----- Override text links for navigation only.  */
  
  /* pages-nav and local nav further refined with classes at the bottom. */
  nav {
    padding: 1% 1% 1%;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    text-decoration:none;
  }

  nav a {
    background-color:var(--cloud);
    border-radius:5px 5px; 
    color:var(--cerulean);
    font-size: x-large;
    font-weight:bold;
    margin-right:3px;
    padding: 5px;
    text-decoration:none;
  }

  nav a:hover {
    color: var(--sky);
}

.pages-nav {
  max-width: var(--content-max-width);
  margin: 0;       /* remove margin-top */
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* padding-top: 0.5rem; */
  padding: 0;

}

  /*  -----  Typography  ----- */
  p {}
  br {}
  ol, ul, dl {}
  li {}
  dt {}
  dd {
    margin-top: 2px;
    margin-bottom: 5px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Lora", serif; 
    font-weight: 600; 
    font-style: italic; 
    margin: 2px;
    } 

  h1 {
    margin: 5px 10px;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }


  
  h2 {
    display: flex;
    margin-top:5px;
    margin-bottom:5px;
    font-size: xx-large;
    gap: 6px;
    justify-content: center;
  }
  h3 {font-size: x-large;}
  h4 {
    font-size: larger;
    font-style: normal;
  }

  .getlocation {
    color: var(--forest-semi-transparent);
    margin-top: 10px;
    font-size: large;
  }

  h5 {}
  h6 {}
  
  abbr {}
  acronym {}
  address {}
  blockquote {}
    q {}
    cite {}
  em {}
  hr {}
  mark {}
  s {}
  span {}
  strong {}
  sub {}
  sup {}
  time {}
  
  /*  ----- Coding or instructional typography ----- */
  pre {}
  code {}
  kbd {}
  samp {}
  var {}
  del {} 
  ins {}
  

  .coords-wrapper {

  }
  
  .undoButton {
    background-color: var(--cloud);
    color: var(--cerulean);
  }

  .undoButton:hover {
  }

  /*  ----- Weather Chart ------ */
  .weather-container {
    display: flex;
    width: 100%; 
    height: 300px;
    padding: 2px;
  }

  .weather-chart {
    margin:10, 30, 20, 50;
  }
  
  .weather-legend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 1rem;
    padding-top: 0.5rem;
    height: 300px;
    width: 200px;
  }
  
  .weather-legend-checkboxes {
    font-size: 0.9rem;
    flex-grow: 1;
  }
  
  .weather-legend-label {
    display: block;
    margin-bottom: 0.25rem;
  }
  
  .weather-legend-item {
    display: block;
    margin-bottom: 0.0rem;
    margin-left: 1.1rem;
    line-height: 1.27rem;
  }
  
  .show-additional-metrics-button {
    padding: 0.4rem 0.6rem;
    font-size: 0.85rem;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--grey-cloud);
    background-color: var(--cloud);
  }

  .show-additional-metrics-button:hover {
    background-color: var(--sky);
    border: 1px solid var(--forest);
  }

  /*  ----- Table ----- */
  table {}
  
  caption {font-size: larger;}
  thead {}

  tbody {
  }
  tfoot {}
  tr {
  }
    tr:nth-child(even) {
    }

  th, td {
  }
  th {
  }
  th:first-child {}
  th:nth-child(3){
  }

  colgroup {}
  data {}
  datalist {}    


  /*  ----- Form ----- */
  form {}
  fieldset { 
    border: solid var(--forest); 
    border-radius: 1% 1%;
    margin: 0 0 1%; 
    padding: 0 10px; 
  }
  legend { 
    color: var(--cloud); 
    font-size:x-large; 
  }
  label { 
    display:block;
    margin: 1% 0; 
  }

  
  fieldset p {
    font-size: large;
  }


  p[class="radio-group"] label{
    font-size: medium;
  }

  p[class="contact-intro"] {
    font-size: large;
    margin-bottom:0;
  }

  p[class="thoughtBox"] {
    margin: 6% 0 5%;
  }

  input, button, textarea, select { 
   font-size:110%; 
   padding: 1% 1%;
   font-family:inherit; 
   color: inherit
  }

  text {
    margin: 2%;
  }

  input[type='range']{ accent-color: var(--sky); }


  button {
    margin: 1% auto 0%;
    padding: 1% 2%;
    font-size: larger;
    background-color: var(--sky);
    border: solid 2px var(--forest);
    border-radius:5px 5px; 

  }

  button:hover {
    background-color: var(--sky-transparent);
    border: solid 2px var(--forest);
  }


  select {}

  :focus{ 
    /* background-color: var(--teal-light-transparent);  */
  }

  :required:invalid { 
    border: 2px solid var(--red); 
  }

  :required:valid { 
    border: 2px solid var(--leaf); 
  }

  input:invalid { 
   border: 2px solid var(--red); 
  }


  .required:after{
    content:" *";
    color:red; 
  }
  optgroup {}
  option {}
  textarea {
    min-height: 100px;
    min-width: 320px;
  }
  output {}
  meter {}
  progress {}
  
  
  /* ----- Media ----- */
  figure {}
    figcaption {}
    figure img {}
  header {
  }
  header i { 
    color:var(--cloud); 
    margin: 1px; 
    line-height: 0.5;
  }
  svg {}
  picture {}
    source {}
  iframe {}
  video {}
  audio {}
  embed {}
  object {}
  
  /*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */

  /* -----for the navs------ */
  /* .pages-nav {
    max-width: var(--content-max-width);
    margin: var(--header-height) auto 0;
    border: 2px solid var(--forest);
    font-size: larger;
  } */



  .local {
    padding-bottom: 0;
  }

  .local a{
    background-color:var(--sky);
    color: var(--forest);
    border-radius:5px 5px 0 0;
    border: 2px solid var(--forest);
    border-bottom: 0 ;
    text-decoration:none;
    }

  .local a:hover {
    border-radius:5px 5px 0 0;
    background-color:var(--forest);
    border: 2px solid var(--forest);
    border-bottom: 0 ;
    color:var(--sky);
    text-decoration: underline;
  }


  .icon {
    padding: 0;
    color: var(--forest-semi-transparent);
    cursor: pointer;
    font-size: 140%;

  }

  .icon:hover {
    color: var(--forest);
  }

  .icon svg {
    display: inline-block;
    vertical-align: middle;
  }

  .big-icon {
    padding: 0;
    color: var(--forest-semi-transparent);
    cursor: pointer;
    font-size: 300%;
    background-color: var(--sky-transparent);
    border-radius: 5px;
    border: var(--cloud) 3px solid;
  }

  .big-icon:hover {
    color: var(--sky);
  }

  .big-icon svg {
    display: inline-block;
    vertical-align: middle;
  }

  .clicker {
    margin-bottom: -5px;
  }

  .clicker i{
    font-size: 190%;
    vertical-align: middle;
    width: 2ch; 
  }

  .minus-icon {
    color: var(--sky);
    cursor: pointer;
  }

  .plus-icon {
    color: var(--sky);
    cursor: pointer;
  }
  .clicker i:hover svg{
    stroke-width: 1.5px;
  }

  .clicker i:active svg{
    color: var(--sky);
    stroke-width: 1.5px;
  }

  .clicker span{
    font-size: large;
    display: inline-block;
    width: 2.5ch;
    text-align: center;
  }

  .indented{
    margin-left: 2%;
  }



  .floatright {}
  .floatleft {}
  .center-middle {}
  
  .ten {}
  .twenty {}
  .thirty {}
  .forty {}
  .fifty {}
  .sixty {}
  .seventy {}
  .eighty {}
  
  .radius {}
  .circle {}
  .boxshadow {}
  .tshadow {} 
  .gradient {}
  .shape {}
  
  @keyframes App-logo {}
  
  /*   ===== TABLET  media query overrides mobile styles ===== */
  @media all and (min-width: 600px) {}
  
  /*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
  @media all and (min-width: 1080px) {}
  
  /*   ===== PRINT  media query overrides previous styles =====  */
  @media print {}
  
